/* ------------ Allgemeines --------------------*/
* {
    margin:0;
    padding:0;
}

body{
    background-image: url(http://batsov.com/images/articles/emacs_user.jpg);
    background-color:grey;
    font:12pt;
    text-align:center;
}
#seite{
    margin:0 0 0 0;
    padding-bottom: 0;
    text-align:left;
    width: 100%;
    height: 100%;
}
/* ------- ----- Logobereich ------------------*/
#titel{
    float:left;
    width:90px;
    padding:0 0 0 0;
}

#titel img{
    border:0;
    width: 70x;
    height: 50px;
}


/* -------------- Navigation ------------------*/

#navigation{
    margin:0 auto;
    float:right;
    padding-top: 2px;
}



#navigation ul li{
    display:inline;
    margin:0 10px 0 0;
}

#navigation ul li a{
    text-decoration:none;
    border-bottom:4px solid green;
    font-size:12pt;
    font-weight:bold;
}

#navigation ul li a:hover{
    text-decoration:none;
    border-bottom:4px solid white;
}





/* -----------  Textbereiche ------------------*/

#oben{
    background-repeat:repeat;
    height:40px;
    width:100%;
    border: 2px green dashed;
    background-color: rgba(0,128, 0, 0.35);
}

#content{
    clear: right
    float:left;
    margin-left: 20%;
    /*margin-right: auto;*/
    padding-right: 5px;
    padding-left: 5px;
    height: 1024px;
    width:768px;
    text-align: center;
}
#container {
    margin: 0 auto;
    width:  1240px;
    height: 720px;
}
#hover_area {
    float: right; 
    width: 20%;
    height: 100%;
}
#hover_area #toc {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: left;
    margin-left: 3px;
    display: block;
    background-color: rgba(0,128, 0, 0.35);
    border: 2px green dashed;
}
#hover_area:hover #toc {
    display: block;
}
#content #empty_2p {
    height: 2%;
    width: 2%;
}

#content #empty_5p {
    height: 5%;
    width: 5%;
}
#content p {
    color: white;
}
#intro,#news {
    background: rgba(0,128, 0, 0.35);
    border: 2px green dashed;
}
#intro {
    width: 800px;
    height: auto;
    border: 2px green dashed;
}
#news {
    width: 800px;
    height: auto;
}
#news #Emacs {
    width: 800px;
    height: 600px;
}
#unten{
    border: 2px green dashed;
    background-color: rgba(0,128, 0, 0.35);
    clear:both;
    width:100%;
}

/* ----------  Schriftformatierungen ------------------*/

/* Schrift-Formatierungen */
h1,h2,h3,h4,h5,h6{
    border-bottom:1px solid #ccc;
    color:white;
    font-size:24t;
    margin:25px 0 0 0
}

#content p{
    text-align:justify
}

#unten p{
    color:#EEEEEE;
    font:12pt , verdana, arial;
    padding:5px;
    text-align: center;
}




/* ------------  Link-Formatierungen ------------------- */
a:link,a:visited,a:active{
    color:#000;
    text-decoration:underline
}

a:hover{
    text-decoration:none
}

#unten a{
    color:#fff;
    text-decoration:underline
}

#unten a:hover{
    text-decoration:none
}



code {
    font-family: "Droid Sans Mono";
    background-color: #eeeeee;
    padding: 2pt;
    margin-right: 1pt;
    box-shadow: 1px 1px 1px #aaa;
}
